body {
    background-color: #272b30;
    color: #000;
}

.shadow {
    box-shadow: 0 8px 15px #000;
}

.header {
    color: #fff;
}
.subtitle {
    color: #fff;
    font-size: 0.8rem;
    font-weight: 200;
}
.bg {
    background-color: #666b72;
}
.meta-img {
    max-width: 0px;
}
